@use "../global" as * ;


html {
    font-size: 16px;
    @media screen and (max-width: calc($inner + (25px * 2) + 240px)) {
        font-size: vw(calc($inner + (25px * 2) + 240px), 16px);
    }
    @include mq(md) {
        font-size: vw(767px, 16px);
    }
}
img {
    width: 100%;
}
a {
    transition: opacity .3s ease;
}
a:hover {
    opacity: 0.7;
}
.inner {
    width: 100%;
    max-width: calc($inner + ($padding-pc * 2));
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    @include mq(md) {
        padding-right: $padding-sp;
        padding-left: $padding-sp;
    }
}
.wp-block-image {
    margin-bottom: 0;
}
.only-mobile {
    display: none;
    @include mq(md) {
        display: block;
    }
}
.only-descktop {
    @include mq(md) {
        display: none;
    }
}
//base_laout
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: rem(240);
    height: 100vh;
    padding-bottom: 15vh;
    @include mq(lg) {
        max-width: 100%;
        height: auto;
        padding-bottom: 0;
    }
}
#header .l-header__inner {
    flex-direction: column;
    padding-left: rem(24);
    padding-right: rem(24);
    @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.l-header__inner  {
    height: 100%;
}
.l-header__logo {
    margin: 0 !important;
    @include mq(lg) {
        display: flex;
        gap: rem(8);
        align-items: center;
        max-width:rem(400);
        width: 100%;
    }
}
.c-headLogo {
    max-width:rem(133) !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto !important;
    height: auto;
    img {
        width: 100%;
    }
    @include mq(lg) {
        max-width:rem(48) !important;
    }
}
.c-catchphrase {
    order: -1;
    position: relative;
    padding-bottom: rem(20) !important;
    margin-bottom: rem(8);
    width: 100%;
    text-align: center;
    font-size: rem(16) !important;
    @include mq(lg) {
        display: block !important;
        text-align-last: left;
        order: 0;
        font-size: rem(20) !important;
        padding-bottom: rem(24) !important;
        margin-bottom: 0;
    }
}
.c-catchphrase::after {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "コミュニティ FCmaaaru";
    font-size: rem(13);
    color: var(--color_header_text);
    height: rem(16);
    font-size: rem(16);
    width: 106%;
    @include mq(lg) {
        width: 100%;
        height: rem(16);
        left: 0;
        transform: translateX(0);
        font-size: rem(20);
        height: rem(20);
    }
}
.l-header__gnav {
    margin-top: auto;
    width: 100%;
}
.c-gnav {
    gap: rem(46.5);
}
.menu-item a {
    display: block;
    padding-bottom: rem(26) !important;
    text-align: left;
    padding-left: calc(11px + rem(7)) !important;
    font-weight: $bold;
    font-family: "DM Serif Display";
    @include mq(lg) {
        border-top: solid 1px var(--color_border) !important;
        text-align: center;
        padding-bottom: rem(80) !important;
        padding-top: rem(48);
        padding-left: rem(18) !important;
        padding-right: rem(18) !important;
    }
}
.menu-item a::before {
    position: absolute;
    bottom: rem(2);
    left: calc(11px + rem(7));
    display: inline-block;
    height: rem(16);
    font-size: rem(16);
    line-height: 1;
    color: $color-main_gray;
    font-weight: $bold;
    top: auto ;
    @include mq(lg) {
        left: 50%;
        transform: translateX(-50%);
        font-size: rem(28);
        height: rem(28);
        bottom: rem(48);
    }
}
.menu-item:nth-child(1) a::before {
    content: "トップ";
}
.menu-item:nth-child(2) a::before {
    content: "お知らせ";
}
.menu-item:nth-child(3) a::before {
    content: "団体概要";
}
.menu-item:nth-child(4) a::before {
    content: "活動内容";
}
.menu-item:nth-child(5) a::before {
    content: "支援実績";
}
.c-gnav .menu-item a::after {
    bottom: auto;
    top: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #0272FF;
    left: 0;
}
.-right .p-spMenu__inner {
    transform: translateX(100%);
}
[data-spmenu=opened] .p-spMenu__inner {
    transform: translateX(0);
}
.p-spMenu__inner {
    width: 100%;
}
.p-spMenu .c-widget__title {
    display: none;
}
.p-spMenu__nav {
    margin-top: 0;
}

.l-content {
    width: calc(100% - rem(240));
    margin-left: auto;
    margin-right: 0;
    padding: 0 !important;
    max-width: 100%;
    margin-bottom: 0;
    @include mq(lg) {
        width: 100%;
    }
}
.l-article {
    max-width: 100%;
}
.post_content  {
    padding: 0;
}
.section_title__eng {
    margin-bottom: 0;
}
.section_title__eng img{
    width: 100%;
}
.section_title__ja {
    color: $color-main_gray;
    font-weight: $normal;
    font-size: rem(18) !important;
    @include mq(lg) {
        font-size: rem(24) !important;
    }
}
.contactBtn {
    display: inline-block;
    border: 2px solid $color-white;
    position: relative;
    color: $color-white;
    padding: rem(27) rem(8);
    border-radius: rem(49);
    transition: all .4s ease;
    line-height: 1;
    font-size: rem(24);
    max-width:rem(373);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-weight: $bold;
    @include mq(md) {
        font-size: rem(40);
        @include mq(md) {
            max-width:rem(600);
        }
    }
}
.contactBtn::before {
    display: inline-block;
    content: "";
    width: rem(24);
    height: rem(24);
    background-image: url(http://football.maaaru.org/wp-content/uploads/2024/03/line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: rem(13);
    margin-bottom: rem(-4);
    @include mq(md) {
        width: rem(40);
        height: rem(40);
    }
}
.l-footer {
    max-width: calc(100% - rem(240));
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
    @include mq(lg) {
        max-width: 100%;
    }

}
.c-gnav {
    flex-direction: column;
}
.p-breadcrumb{
    display: none !important;
}
a {
    text-decoration: none;
}